# for testing authentication
GCP_PROJECT_ID=
DRIVE_TEST_FILE_ID=
AC=default
# these are the scopes set by default - take some of these out if you want to minimize access
DEFAULT_SCOPES="https://www.googleapis.com/auth/userinfo.emailhttps://www.googleapis.com/auth/driveopenidhttps://www.googleapis.com/auth/cloud-platformhttps://www.googleapis.com/auth/sqlservice.login"
EXTRA_SCOPES=",https://www.googleapis.com/auth/drivehttps://www.googleapis.com/auth/spreadsheets"

# for unit tests
MIN_NUM_ROOT_PDFS=20
MIN_NUM_PDFS=400
MIN_FOLDERS_ROOT=110
TEST_FOLDER_NAME="math"
TEST_FOLDER_NUM_CHILD_FILES=3
SKIP_SINGLE_PARENT=true
TEST_FOLDER_ID="1Zww9oCTFR7zYcUYXxd70yQr3sw6VdLG-"
TEXT_FILE_NAME="fake.txt"
TEXT_FILE_ID="1142Vn7W-pGl5nWLpUSkpOB82JDiz9R6p"
TEXT_FILE_TYPE="text/plain"
TEXT_FILE_CONTENT="foo is not bar\n"
BLOB_NAME="foo.txt"
BLOB_TYPE="text/plain"
TEST_SHEET_ID="1DlKpVVYCrCPNfRbGsz6N_K3oPTgdC9gQIKi0aNb42uI"
TEST_SHEET_NAME="sharedLibraries"
EMAIL="bruce@mcpher.com"
TIMEZONE="Europe/London"
LOCALE="en_US"
ZIP_TYPE="application/zip"
KIND_DRIVE="drive#file"
OWNER_NAME="Bruce Mcpherson"
PUBLIC_SHARE_FILE_ID="1OFJk38kW9TRrEf-B9F1gTZk2uLV-ZSpR"
SHARED_FILE_ID="1uz4cxEDxtQzu0cBb1B4h6fsjgWy7hNFf"
RANDOM_IMAGE="https://picsum.photos/200"
API_URL="http://suggestqueries.google.com/complete/search?client=chrome&hl=en&q=trump"
API_TYPE="text/javascript"
PDF_ID="1-YBGiTRfIYcmYUMNzNJEDlEmKAbyQqz8"
CLEAN=true