# for testing authentication
GCP_PROJECT_ID="add your gcp project id here"

# this is optional 
DRIVE_TEST_FILE_ID="add the id of some test file you have access to here"

# we'll use the default config for application default credentials
AC=default
# these are the scopes set by default - take some of these out if you want to minimize access
DEFAULT_SCOPES="https://www.googleapis.com/auth/userinfo.email,openid,https://www.googleapis.com/auth/cloud-platform"
EXTRA_SCOPES=",https://www.googleapis.com/auth/drive,https://www.googleapis.com/auth/spreadsheets,https://www.googleapis.com/auth/gmail.labels"

# if you need access to sensitive or restricted scopes you'll need to provide a credentials file
# this is a path relative to the project root, or an absolute path
CLIENT_CREDENTIAL_FILE="private/gasfakes-oa.json"
LOG_DESTINATION="CONSOLE"