**/node_modules
**/private
testongas
**/.gas-fakes/store
**/.env*
ghissues
**/.gemini
.DS_Store
articles
# **/gasfakes.json
gprompts
**/gas-dist
**/bundle
.agent
_includes
doccreation
gasmess
src-gas
versionnotes
progress
**/*.md
**/*.sh
**/*.png
**/.git