**/private
testongas
test
togas.*
**/node_modules
shells
**/.gas-fakes/store
.gitignore
*.MD
*.md
.env*
mainlocal.js
mainnpm.js
/.gemini/
/.gemini
gprompts
gasmess
_includes
progress
src-gas
.aiexclude
doccreation