**/private
testongas
test
togas.*
**/node_modules
shells
**/.gas-fakes/store
.gitignore
*.MD
*.md
.env*
mainlocal.js
mainnpm.js
gprompts
gasmess
_includes
progress
src-gas
.aiexclude
doccreation
versionnotes
.npmignore
.agent
.gemini
appscript.json
**/*.jwt
.DS_Store
*.sh
*.png