!src
**/private
testongas
test
**/node_modules
shells
**/.gas-fakes/store
.gitignore
*.MD
*.md
.env*
mainlocal.js
mainnpm.js
gprompts
gasmess
_includes
progress
src-gas
.aiexclude
doccreation
versionnotes
.npmignore
.agent
.gemini
appsscript.json
**/*.jwt
.DS_Store
*.png
skills-lock.json
api-docs
gf_agent